a {
  text-decoration: none;
}

.whitetxt {
    color: white;
}

.blacktxt {
    color: black;
}

.imgprop {
    display: flex;
    width: 500px;
}

.titlesize {
    font-size: 40px;
}

.navbar {
    margin: -10px -10px 0 -10px;
    background-color: rgb(50, 50, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.discordbox {
    display: flex;
    font-size: 25px;
    color: white;
}

.vocinavbar {
    display: flex;
    color: white;
    width: 500px;
    justify-content: space-between;
}

.login {
    display: flex;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 4px 4px 4px 4px;
    font-size: 15px;
}

.firstslide {
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
    margin: -10px -10px 0 -10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstslidetxt {
    display: flex;
    height: 1px;
}

.whitedownloadbox {
    display: flex;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 4px 4px 4px 4px;
    margin-top: 40px;
    margin-right: 10px;
    font-size: 15px;
}

.blackbox {
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 4px 4px 4px 4px;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 10px;
}

.buttonsbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondslide {
    display: flex;
    justify-content: center;
}


.secondslidetxt {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.thirdslide {
    display: flex;
    background-image: url(../img/wave.svg);
    background-color: lightgrey;
    margin: 80px -10px -10px -10px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.thirdslidetxt {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.fourthslide {
    display: flex;
    margin: 80px -10px -10px -10px;
    justify-content: space-evenly;
    align-items: center;
}

.fourthslidetxt {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: -200px;
}

.fifthslide {
    display: flex;
    background-image: url(../img/wave.svg);
    color: rgb(54, 54, 54);
    margin: 80px -10px -10px -10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fifthslidetxt {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.imgproplast {
    display: flex;
    width: 1000px;
}